<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenue, tête de cul !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- appel du list.component -->
  <app-list></app-list>
</ion-content>
